<form action="https://submit-form.com/6t0Lk9oc">
  <label for="name">Name:</label><P>
  <input type="text" id="name" name="name" placeholder="Enter your name..." required="" /><P>
  <label for="email">Email</label><P>
  <input type="email" id="email" name="email" placeholder="nailgur@example.com" required="" /><P>
  <label for="message">Message:</label>
  <textarea
    id="message"
    name="message"
    placeholder="Message"
    required=""
  ></textarea>
  <button type="submit">Send</button>
</form>
